@import "./noto-sans-korean.css";

/* Universal */
body {margin:0;padding:0;font-family:"Noto Sans Korean", sans-serif;cursor:default;}

/* Lists */
ul {list-style:none;padding:0;margin:0;}
li {display:block;}

/* Buttons */
/* Button colors */
.btn-blue {border:1px solid #3498db !important;}
.btn-red {border:1px solid #c0392b !important;}
.btn-green {border:1px solid #27ae60 !important;}

.btn-blue::before {background:#3498db !important;}
.btn-red::before {background:#c0392b !important;}
.btn-green::before {background:#27ae60 !important;}

/* Button for white background */
.main-btn {border:1px solid #2d3436;background:none;padding:0.625em 1.25em;font-size:1.25em;font-family:"monserrat";cursor:pointer;margin:0.625em;transition:0.8s;position:relative;overflow:hidden;min-width:12.5em;}
.main-btn::before {content:"";position:absolute;left:0;width:100%;height:0%;background:#2d3436;z-index:-1;transition:0.8s;}

.main-btn-t1-1, .main-btn-t1-2 {color:#2d3436;}
.main-btn-t1-3, .main-btn-t1-4 {color:#ffffff;}
.btn-blue .main-btn-t1-1, .btn-blue .main-btn-t1-2 {color:#3498db !important;}
.btn-red .main-btn-t1-1, .btn-red .main-btn-t1-2 {color:#c0392b !important;}
.btn-green .main-btn-t1-1, .btn-green .main-btn-t1-2 {color:#27ae60 !important;}

.main-btn-t1-1:hover, .main-btn-t1-2:hover {color:#ffffff;}
.main-btn-t1-3:hover, .main-btn-t1-4:hover {color:#2d3436;}
.btn-blue .main-btn-t1-3:hover, .btn-blue .main-btn-t1-4:hover {color:#3498db !important;}
.btn-red .main-btn-t1-3:hover, .btn-red .main-btn-t1-4:hover {color:#c0392b !important;}
.btn-green .main-btn-t1-3:hover, .btn-green .main-btn-t1-4:hover {color:#27ae60 !important;}

.main-btn-t1-1::before, .main-btn-t1-3::before {top:0;border-radius:0 0 50% 50%;}
.main-btn-t1-2::before, .main-btn-t1-4::before {bottom:0;border-radius:50% 50% 0 0;}
.main-btn-t1-3::before, .main-btn-t1-4::before {height:180%;}

.main-btn-t1-1:hover::before, .main-btn-t1-2:hover::before {height:180%;}
.main-btn-t1-3:hover::before, .main-btn-t1-4:hover::before {height:0%;}

/* Button for form */
.init-button {text-decoration:none;display:inline-block;background:#9b59b6;padding:0.8em 0;color:white;cursor:pointer;margin-top:0.5em;width:100%;}

/* First page */
.first-page {text-align:center;}
.first-page-title {margin-top:8em;margin-bottom:10em;}
.first-page-title > h3 {font-size:4em;letter-spacing:0.15em;font-weight:normal;}

/* Under Version area */
.under-version-area {position:fixed;right:2em;bottom:2em;}

/* Init Page Container */
.init-page-container {width:80%;max-width:50em;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);padding:2em 2.5em;box-sizing:border-box;text-align:center;}
.init-page-container h1 {margin-top:0;font-weight:200;}

/* Full Form Wrap */
.full-form-wrap {border:1px solid gray;margin:0.5em 0;padding:0.75em 1.125em;border-radius:0.5em;}
.full-form-wrap .init-input-label {display:block;text-align:left;color:#333;font-size:1em;cursor:text;}
.full-form-wrap .init-select-label {display:block;text-align:left;color:#333;font-size:1em;cursor:default;}
.full-form-wrap input, .full-form-wrap textarea, .full-form-wrap select {width:100%;border:none;background:none;outline:none;font-size:1.25em;margin-top:0.375em;}
.full-form-wrap textarea {height:10em;resize:none;font-family:"Noto Sans Korean", sans-serif;}

/* Left Navigation */
.left-nav {position:absolute;top:50%;transform:translateY(-50%);}
.left-nav a {color:white;font-size:1.2em;display:block;width:8em;padding:0.75em;text-decoration:none;margin:0.5em 0;border-radius:0.4em;margin-left:-15em;transition:0.6s all;}
.left-nav a:hover {margin-left:-8em;}

/* Modal Popup */
.modal-popup {width:60%;overflow:hidden;background:#f1f1f1;box-shadow:0 0 20px black;border-radius:0.5em;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:9999;padding:0.8em;text-align:center;display:none;}
.modal-popup span {color:#2ecc71;font-size:2em;display:block;margin:1em 0;}
.modal-popup h1 {color: #333;}
.modal-popup p {width:80%;margin:1em auto;}
.modal-good-btn {font-size:1.2em;color:white;padding:0.5em 1.2em;cursor:pointer;background:#3498db;display:inline-block;border-radius:0.25em;}
.modal-bad-btn {font-size:1.2em;color:white;padding:0.5em 1.2em;cursor:pointer;background:#e74c3c;display:inline-block;border-radius:0.25em;}